ColorPicker/node_modules
node_modules/

# Next.js build output
.next
.next/build/
.next/cache/
.next/server/
.next/static/
.vercel
.next/app-build-manifest.json
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/transform.js
.next/transform.js.map
.next/build/chunks/\[root-of-the-server]__8d1c356d._.js
.next/build/chunks/\[root-of-the-server]__8d1c356d._.js.map
.next/build/chunks/\[root-of-the-server]__23dcc81a._.js
.next/build/chunks/\[root-of-the-server]__23dcc81a._.js.map
.next/build/chunks/\[turbopack]_runtime.js
.next/build/chunks/\[turbopack]_runtime.js.map
.next/build/chunks/node_modules_b5d1def4._.js
.next/build/chunks/node_modules_b5d1def4._.js.map
.next/build/chunks/postcss_config_js_transform_ts_c2e3f562._.js
.next/build/chunks/postcss_config_js_transform_ts_c2e3f562._.js.map
.next/cache/.rscinfo
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.map
.next/server/app/page/app-build-manifest.json
.next/server/app/page/app-paths-manifest.json
.next/server/app/page/build-manifest.json
.next/server/app/page/next-font-manifest.json
.next/server/app/page/react-loadable-manifest.json
.next/server/app/page/server-reference-manifest.json
.next/server/chunks/ssr/_5546f88b._.js
.next/server/chunks/ssr/_5546f88b._.js.map
.next/server/chunks/ssr/_a2a19684._.js
.next/server/chunks/ssr/_a2a19684._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__50a7c09c._.js
.next/server/chunks/ssr/\[root-of-the-server]__50a7c09c._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__865a498a._.js
.next/server/chunks/ssr/\[root-of-the-server]__865a498a._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__97655ca9._.js
.next/server/chunks/ssr/\[root-of-the-server]__97655ca9._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__c75c51b7._.js
.next/server/chunks/ssr/\[root-of-the-server]__c75c51b7._.js.map
.next/server/chunks/ssr/\[turbopack]_runtime.js
.next/server/chunks/ssr/\[turbopack]_runtime.js.map
.next/server/chunks/ssr/components_5b1a4c6b._.js
.next/server/chunks/ssr/components_5b1a4c6b._.js.map
.next/server/chunks/ssr/node_modules_@heroui_dom-animation_dist_index_mjs_e93baf7d._.js
.next/server/chunks/ssr/node_modules_@heroui_dom-animation_dist_index_mjs_e93baf7d._.js.map
.next/server/chunks/ssr/node_modules_412c7a12._.js
.next/server/chunks/ssr/node_modules_412c7a12._.js.map
.next/server/chunks/ssr/node_modules_b83cb0f6._.js
.next/server/chunks/ssr/node_modules_b83cb0f6._.js.map
.next/server/chunks/ssr/node_modules_ce41edba._.js
.next/server/chunks/ssr/node_modules_ce41edba._.js.map
.next/server/chunks/ssr/node_modules_next_0a83f2df._.js
.next/server/chunks/ssr/node_modules_next_0a83f2df._.js.map
.next/server/chunks/ssr/node_modules_next_9babd674._.js
.next/server/chunks/ssr/node_modules_next_9babd674._.js.map
.next/server/chunks/ssr/node_modules_next_9cb98653._.js
.next/server/chunks/ssr/node_modules_next_9cb98653._.js.map
.next/server/chunks/ssr/node_modules_next_14f8521f._.js
.next/server/chunks/ssr/node_modules_next_14f8521f._.js.map
.next/server/chunks/ssr/node_modules_next_dist_a17f26a9._.js
.next/server/chunks/ssr/node_modules_next_dist_a17f26a9._.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_components_forbidden-error_ea7ea172.js
.next/server/chunks/ssr/node_modules_next_dist_client_components_forbidden-error_ea7ea172.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_components_unauthorized-error_c8949b27.js
.next/server/chunks/ssr/node_modules_next_dist_client_components_unauthorized-error_c8949b27.js.map
.next/server/pages/_app.js
.next/server/pages/_app.js.map
.next/server/pages/_document.js
.next/server/pages/_document.js.map
.next/server/pages/_error.js
.next/server/pages/_error.js.map
.next/server/pages/_app/build-manifest.json
.next/server/pages/_app/next-font-manifest.json
.next/server/pages/_app/pages-manifest.json
.next/server/pages/_app/react-loadable-manifest.json
.next/server/pages/_document/next-font-manifest.json
.next/server/pages/_document/pages-manifest.json
.next/server/pages/_document/react-loadable-manifest.json
.next/server/pages/_error/build-manifest.json
.next/server/pages/_error/next-font-manifest.json
.next/server/pages/_error/pages-manifest.json
.next/server/pages/_error/react-loadable-manifest.json
.next/server/vendor-chunks/@babel.js
.next/server/vendor-chunks/@heroui.js
.next/server/vendor-chunks/@internationalized.js
.next/server/vendor-chunks/@react-aria.js
.next/server/vendor-chunks/@react-stately.js
.next/server/vendor-chunks/@tanstack.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/compute-scroll-into-view.js
.next/server/vendor-chunks/framer-motion.js
.next/server/vendor-chunks/input-otp.js
.next/server/vendor-chunks/motion-dom.js
.next/server/vendor-chunks/motion-utils.js
.next/server/vendor-chunks/next-themes.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/react-textarea-autosize.js
.next/server/vendor-chunks/scroll-into-view-if-needed.js
.next/server/vendor-chunks/tailwind-merge.js
.next/server/vendor-chunks/tailwind-variants.js
.next/server/vendor-chunks/use-composed-ref.js
.next/server/vendor-chunks/use-isomorphic-layout-effect.js
.next/server/vendor-chunks/use-latest.js
.next/server/vendor-chunks/use-sync-external-store.js
.next/static/chunks/_app-pages-browser_node_modules_framer-motion_dist_es_index_mjs.js
.next/static/chunks/_app-pages-browser_node_modules_heroui_dom-animation_dist_index_mjs.js
.next/static/chunks/_app-pages-browser_node_modules_heroui_toast_dist_src-UW24ZMRV_mjs.js
.next/static/chunks/_b581757f._.js
.next/static/chunks/_b581757f._.js.map
.next/static/chunks/_e69f0d32._.js
.next/static/chunks/\[root-of-the-server]__49fd8634._.js
.next/static/chunks/\[root-of-the-server]__49fd8634._.js.map
.next/static/chunks/\[root-of-the-server]__527cd323._.js
.next/static/chunks/\[root-of-the-server]__527cd323._.js.map
.next/static/chunks/\[root-of-the-server]__923cb372._.js
.next/static/chunks/\[root-of-the-server]__923cb372._.js.map
.next/static/chunks/\[root-of-the-server]__ec07ee34._.js
.next/static/chunks/\[root-of-the-server]__ec07ee34._.js.map
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_3cd0d838._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_61dcf9ba._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_61dcf9ba._.js.map
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_c20f642f._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_c20f642f._.js.map
.next/static/chunks/app_layout_tsx_ea9287a8._.js
.next/static/chunks/app_page_tsx_5f039f58._.js
.next/static/chunks/app_providers_tsx_4759cad9._.js
.next/static/chunks/app_providers_tsx_4759cad9._.js.map
.next/static/chunks/app-pages-internals.js
.next/static/chunks/components_f8870438._.js
.next/static/chunks/components_f8870438._.js.map
.next/static/chunks/ed0b0_@swc_helpers_cjs_d9e50ee1._.js
.next/static/chunks/ed0b0_@swc_helpers_cjs_d9e50ee1._.js.map
.next/static/chunks/main-app.js
.next/static/chunks/node_modules_@heroui_dom-animation_dist_index_mjs_707bcd60._.js
.next/static/chunks/node_modules_@heroui_dom-animation_dist_index_mjs_707bcd60._.js.map
.next/static/chunks/node_modules_@heroui_dom-animation_dist_index_mjs_c3ea07f7._.js
.next/static/chunks/node_modules_33cbb787._.js
.next/static/chunks/node_modules_33cbb787._.js.map
.next/static/chunks/node_modules_534bceb7._.js
.next/static/chunks/node_modules_534bceb7._.js.map
.next/static/chunks/node_modules_26074d27._.js
.next/static/chunks/node_modules_26074d27._.js.map
.next/static/chunks/node_modules_c0f221dd._.js
.next/static/chunks/node_modules_c0f221dd._.js.map
.next/static/chunks/node_modules_next_dist_2ecbf5fa._.js
.next/static/chunks/node_modules_next_dist_2ecbf5fa._.js.map
.next/static/chunks/node_modules_next_dist_build_polyfills_polyfill-nomodule.js
.next/static/chunks/node_modules_next_dist_client_8f19e6fb._.js
.next/static/chunks/node_modules_next_dist_client_8f19e6fb._.js.map
.next/static/chunks/node_modules_next_dist_compiled_2ce9398a._.js
.next/static/chunks/node_modules_next_dist_compiled_2ce9398a._.js.map
.next/static/chunks/node_modules_react_b2385d85._.js
.next/static/chunks/node_modules_react_b2385d85._.js.map
.next/static/chunks/node_modules_react-dom_cjs_react-dom_development_ab7e073c.js
.next/static/chunks/node_modules_react-dom_cjs_react-dom_development_ab7e073c.js.map
.next/static/chunks/node_modules_react-dom_f14d0471._.js
.next/static/chunks/node_modules_react-dom_f14d0471._.js.map
.next/static/chunks/pages__app_766e1576._.js
.next/static/chunks/pages__app_766e1576._.js.map
.next/static/chunks/pages__app_5771e187._.js
.next/static/chunks/pages__error_0d337d8b._.js
.next/static/chunks/pages__error_0d337d8b._.js.map
.next/static/chunks/pages__error_5771e187._.js
.next/static/chunks/polyfills.js
.next/static/chunks/styles_globals_8242287d.css
.next/static/chunks/styles_globals_8242287d.css.map
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_clientMiddlewareManifest.json
.next/static/webpack/846a822c626d688f.webpack.hot-update.json
.next/static/webpack/884f185d89f158fe.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/a481e24a0d8efd4f.webpack.hot-update.json
.next/static/webpack/webpack.846a822c626d688f.hot-update.js
.next/static/webpack/webpack.884f185d89f158fe.hot-update.js
.next/static/webpack/webpack.a481e24a0d8efd4f.hot-update.js
.next/static/webpack/app/page.846a822c626d688f.hot-update.js
.next/static/webpack/app/page.884f185d89f158fe.hot-update.js
.next/static/webpack/app/page.a481e24a0d8efd4f.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
